<div class="ledger">
  <div class="container-fluid">
    <div class="container animated fadeIn">
      <h3>CHANGE PASSWORD</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "col-md-8" }) do |f| %>
        <%= devise_error_messages! %>

        <div class="input-wrap"> 
          <%= f.email_field :email, :class=>"input-element", required: true %>
          <span class="highlight"></span>
          <span class="bar"></span> 
          <label>EMAIL</label>    
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="input-wrap"> 
          <%= f.email_field :password, :class=>"input-element", type: "password", autofocus: false, required: true %>
          <span class="highlight"></span>
          <span class="bar"></span>     
          <label>PASSWORD<br /></label><i>(leave blank if you don't want to change it)</i>
        </div>

        <div class="input-wrap"> 
          <%= f.email_field :password_confirmation, :class=>"input-element", type: "password", autofocus: false, required: true %>
          <span class="highlight"></span>
          <span class="bar"></span>     
          <label>PASSWORD CONFIRMATION<br /></label><i>(leave blank if you don't want to change it)</i>
        </div>

        <div class="input-wrap"> 
          <%= f.email_field :current_password, :class=>"input-element", type: "password", autofocus: false, required: true %>
          <span class="highlight"></span>
          <span class="bar"></span>     
          <label>CURRENT PASSWORD<br /></label><i>(we need your current password to confirm your changes)</i>
        </div>

        <div class="actions">
          <%= f.submit "Update", :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
