<div class="reset-pwd">
  <div class="container-fluid">
    <div class="col-md-4 col-md-offset-4 animated fadeIn">
      <%= image_tag 'logo.png', :class => 'img-responsive center-block' %>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="input-wrap">
          <%= f.email_field :email, :class=>"input-element", required: true %>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>EMAIL</label>
      	</div>
	      <div class="actions">
	        <%= f.submit "Reset my password", :class => "btn btn-primary btn-block" %>
	      </div>
    	<% end %>
    	<%#= render "devise/shared/links" %>
  	</div>
	</div>
</div>
