<% if current_user.child.present? %>
  <% user = current_user.child %>
<% else %>
  <% user = current_user %>
<% end %>
<div class="attendance">
  <div class="container-fluid">
    <div class="container animated fadeIn">
      <div class="form-wrap">
        <%= form_tag(pages_attendance_path, :method => "get", id: "search-form") do %>
          <div class="input-wrap col-md-4">
            <%= text_field_tag 'from', params[:from], :class => "input-element date-picker" %>
            <span class="highlight"></span>
            <span class="bar"></span>
          </div>
          <div class="input-wrap col-md-4">
            <%= text_field_tag 'to', params[:to], :class => "input-element date-picker" %>
          </div>
          <div class="col-md-4">
            <%= submit_tag "Load", class: "btn btn-primary" %>
          </div>
        <% end %>
        <div class="clearfix"></div>
        <div class="col-md-12 attendance-grid">
          <ul class="list-inline">
            <li><i class="legend1"></i>Present</li>
            <li><i class="legend2"></i>Absent</li>
          </ul>
          <div class="clearfix"></div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>DATE</th>
                  <th colspan="8">SUBJECTS</th>
                </tr>
              </thead>
              <tbody>
                <% if @attendances.values.flatten.count > 0 %>
                  <% @attendances_keys.each do |k| %>
                    <% @attendances[k].group_by { |a| a.day }.each do |k, v| %>
                      <tr>
                        <td><%= k.to_date.strftime('%d/%m/%Y') %></td>
                        <% v.sort_by { |a| Time.strptime(a.from, '%I:%M %p') }.each do |a| %>
                          <% if a.status == "A" %>
                            <td class="absent">
                            <% else %>
                              <td>
                              <% end %>
                              <p><%= a.from %> - <%= a.to %></p>
                              <p><%= a.subject_name %></p>
                            </td>
                          <% end %>
                          <% (@attendances.map { |k, v| v.count }.max - v.count).times do |i| %>
                            <td>
                              <p>-</p>
                            </td>
                          <% end %>
                        </tr>
                      <% end %>
                    <% end %>
                  <% else %>
                    <tr>
                      <td></td>
                      <td></td>
                      <td align="center">No Results Found</td>
                      <td></td>
                      <td></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              
            </div>
            <%= will_paginate @attendances_keys, :class => "pull-right pagination" %>
          </div>
        </div>
      </div>
      <div class="container animated fadeIn mt-x">
        <div class="form-wrap">
          <%= form_tag(pages_attendance_path, :method => "get", id: "search-form") do %>
            <div class="col-md-4">
              <%= select_tag 'sem', options_for_select(semister, :selected => params[:sem]), { class: 'selectpicker chosen-select' } %>
            </div>
            <div class="col-md-4">
              <%= submit_tag "Load", class: "btn btn-primary" %>
            </div>
          <% end %>
          <div class="col-md-12 marks-grid">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>SUBJECT</th>
                    <th>TOTAL CLASSES</th>
                    <th>ABSENT</th>
                    <th>PRESENT</th>
                    <th>AVERAGE</th>
                  </tr>
                </thead><br/><br/>
                <tbody>
                  <% if @attendances_search.present? %>
                    <% @attendances_search.each do |k, v| %>
                      <tr>
                        <td><%= k %></td>
                        <td><%= @total_classes[k].count %></td>
                        <td><%= @classes_absent[k].count rescue 0 %></td>
                        <td><%= @classes_present[k].count rescue 0 %></td>
                        <td><%= ((@classes_present[k].count.to_f / @total_classes[k].count.to_f) * 100).round(2) %>%</td>
                      </tr>
                    <% end %>
                  <% else %>
                    <tr>
                      <td></td>
                      <td></td>
                      <td>No Results Found</td>
                      <td></td>
                      <td></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
      $('.nav li:nth-child(2)').addClass('active');
    });
</script>
