<% if current_user.child.present? %>
  <% user = current_user.child %>
<% else %>
  <% user = current_user %>
<% end %>
<div class="container-fluid">
  <div class="container">
    <div class="col-md-2 col-sm-3 animated fadeInLeft s-profile">
      <%= image_tag 'photo.jpg', :class => "img-responsive"  %>
      <div class="col-md-12">
        <label>Name</label>
        <p><%= user.name %></p>
        <label>D.O.B</label>
        <p><%= user.date_of_birth %></p>
        <label>Email</label>
        <p><%= user.parent.present? ? user.parent.email : user.email %></p>
        <label>Blood Group</label>
        <p><%= user.blood_group %></p>
        <a href="<%= edit_user_registration_path %>" class="btn btn-primary btn-block">Change Password</a>
      </div>
    </div>
    <div class="col-md-10 col-sm-9 animated fadeInRight s-info">
      <div class="col-md-12">
        <ul>
          <li>
            <div class="col-md-6">
              <label>USN</label>
              <p><%= user.usn %></p>
            </div>
            <div class="col-md-6">
              <label>Campus ID</label>
              <p><%= user.campus_id %></p>
            </div>
            <div class="clearfix"></div>
          </li>
          <li>
            <div class="col-md-6">
              <label>Course</label>
              <p><%= user.course %></p>
            </div>
            <div class="col-md-6">
              <label>Semister</label>
              <p><%= user.semister %><sup><%= user.semister.to_i.ordinalize[1..-1].upcase %></sup></p>
            </div>
            <div class="clearfix"></div>
          </li>
          <li>
            <div class="col-md-6">
              <label>Nationality</label>
              <p><%= user.nationality %></p>
            </div>
            <div class="col-md-6">
              <label>State</label>
              <p><%= user.state.present? ? user.state : '-' %></p>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <h2>Addmission info.</h2>
        <ul>
          <li>
            <div class="col-md-6">
              <label>Category</label>
              <p><%= user.category.present? ? user.category : '-' %></p>
            </div>
            <div class="col-md-6">
              <label>Religion</label>
              <p><%= user.religion %></p>
            </div>
            <div class="clearfix"></div>
          </li>
          <li>
            <div class="col-md-6">
              <label>Father Name</label>
              <p><%= user.father_name %></p>
            </div>
            <div class="col-md-6">
              <label>Branch</label>
              <p><%= user.branch %></p>
            </div>
            <div class="clearfix"></div>
          </li>
          <li>
            <div class="col-md-6">
              <label>Email</label>
              <p><%= user.email %></p>
            </div>
            <div class="col-md-6">
              <label>Phone</label>
              <p><%= user.phone.present? ? user.phone : '-' %></p>
            </div>
            <div class="clearfix"></div>
          </li>
          <li>
            <div class="col-md-12">
              <label>Address</label>
              <p><%= user.address %></p>
              <!-- <p>Surathkal</p>
							<p>10435 Mangalore</p>
							<p>India</p> -->
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <h2>Accomodation</h2>
        <ul>
          <li>
            <div class="col-md-6">
              <label>HOSTEL NAME </label>
              <p><%= user.hostel_name.present? ? user.hostel_name : '-' %></p>
            </div>
            <div class="col-md-6">
              <label>Floor No.</label>
              <p><%= user.floor_number.present? ? user.floor_number : '-' %></p>
            </div>
            <div class="clearfix"></div>
          </li>
          <li>
            <div class="col-md-6">
              <label>Room No.</label>
              <p><%= user.room_number.present? ? user.room_number : '-' %></p>
            </div>
            <div class="col-md-6">
              <label>Mess</label>
              <p><%= user.food.present? ? user.food : '-' %></p>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <h2>Transport</h2>
        <ul>
          <li>
            <div class="col-md-6">
              <label>Route</label>
              <p><%= user.route.present? ? user.route : '-' %></p>
            </div>
            <div class="col-md-6">
              <label>Pickup Location</label>
              <p><%= user.pickup_location.present? ? user.pickup_location : '-' %></p>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.nav li:nth-child(1)').addClass('active');
  });
</script>
