<% if current_user.child.present? %>
  <% user = current_user.child %>
<% else %>
  <% user = current_user %>
<% end %>
<div class="ledger">
  <div class="container-fluid">
    <div class="container animated fadeIn">
      <div class="col-md-12 legder-grid attendance-grid">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Sl No.</th>
                <th>Date</th>
                <th>Doc No.</th>
                <th>Narration</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Balance</th>
                <th>DR/CR</th>
              </tr>
            </thead>
            <tbody>
              <td></td>
              <td></td>
              <td></td>
              <td>Opening Balance</td>
              <td><%= user.opening_balance.to_i.abs > 0.00 ? '%.2f' % user.opening_balance.to_f.abs : "" %></td>
              <td><%= user.opening_balance.to_f <= 0 ? user.opening_balance.to_f.abs : "" %></td>
              <td></td>
              <td></td>
              <% user.ledger_infos.each.with_index(1) do |ledger_info, index| %>
                <tr>
                  <td><%= index %></td>
                  <td><%= ledger_info.release_date.strftime('%d/%m/%Y') %></td>
                  <td><%= ledger_info.doc_no %></td>
                  <td><%= ledger_info.narration %></td>
                  <td><%= ledger_info.status == "Dr" ? '%.2f' % ledger_info.amount : "-" %></td>
                  <td><%= ledger_info.status == "Cr" ? '%.2f' % ledger_info.amount : "-" %></td>
                  <td>
                    <%= "%.2f" % ((index == 1 ? ("%.2f" % (user.opening_balance.to_f + (ledger_info.status == "Dr" ? (ledger_info.amount.to_f) : (-ledger_info.amount.to_f )))) : ("%.2f" % (user.opening_balance.to_f.abs + user.ledger_infos.first(index).select {|l| l if l.status == "Dr"}.map(&:amount).map(&:to_f).sum - user.ledger_infos.first(index).select {|l| l if l.status == "Cr"}.map(&:amount).map(&:to_f).sum))).to_f.abs) %></td>
                  <% unless (index == 1 || index == user.ledger_infos.count) %>
                    <td><%= ledger_info.status %></td>
                  <% else %>
                    <td></td>
                  <% end %>
                </tr>
              <% end %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td><%= '%.2f' % ((user.opening_balance.to_i.abs > 0.00 ? user.opening_balance.to_f.abs : 0.00) + user.ledger_infos.where('status = ?', 'Dr').map(&:amount).map(&:to_i).sum) %></td>
                <td><%= '%.2f' % (user.opening_balance.to_f <= 0 ? user.opening_balance.to_f.abs :  + user.ledger_infos.where('status = ?', 'Cr').map(&:amount).map(&:to_i).sum) %></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.nav li:nth-child(4)').addClass('active');
  });
</script>