<div class="marks">
  <div class="container-fluid">
    <div class="container animated fadeIn">
      <div class="form-wrap">
        <%= form_tag(pages_marks_path, :method => "get", id: "search-form") do %>
          <div class="col-md-4">
            <%= select_tag 'exam_type', options_for_select(internals, :selected => params[:exam_type]), {class: 'selectpicker chosen-select'} %>
          </div>
          <div class="col-md-4">
            <%= select_tag 'semister', options_for_select(semister, :selected => params[:semister]), {class: 'selectpicker chosen-select'} %>
          </div>
          <div class="col-md-4">
            <%= submit_tag "Load", class: "btn btn-primary" %>
          </div>
        <% end %>
        <div class="col-md-12 marks-grid">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Subject</th>
                  <th>Max</th>
                  <th>Obtained</th>
                </tr>
              </thead>
              <tbody>
                <% if @marks.present? %>
                  <% @marks.each do |marks_info| %>
                    <tr>
                      <td><%= marks_info.subject %></td>
                      <td><%= marks_info.max_marks %></td>
                      <td><%= marks_info.marks_obtained %></td>
                    </tr>
                  <% end %>
                  <tfoot>
                    <tr>
                      <td>Total</td>
                      <td><%= current_user.marks_infos.where('exam_type = ? and semister = ?', params["exam_type"], params["semister"]).pluck(:max_marks).map(&:to_i).inject(:+) %></td>
                      <td><%= current_user.marks_infos.where('exam_type = ? and semister = ?', params["exam_type"], params["semister"]).pluck(:marks_obtained).map(&:to_i).inject(:+) %></td>
                    </tr>
                  </tfoot>
                <% else %>                 
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.nav li:nth-child(3)').addClass('active');
  });
</script>