<div class="home">
  <div class="col-md-7"></div>
  <div class="col-md-5">
    <div class="login">
      <div class="col-md-12 login-wrap">
      <%= image_tag 'logo.png',  :class => "img-responsive center-block" %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="input-wrap"> 
            <%= f.text_field :login, autocomplete: "off", :class=>"input-element", required: true %>
            <span class="highlight"></span>
            <span class="bar"></span>     
            <label>CAMPUS ID</label>
          </div>

          <div class="input-wrap password">      
            <%= f.password_field :password, autocomplete: "off", :class=>"input-element", required: true %>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>PASSWORD</label>
          </div>

          <div class="col-md-12 toggle-wrap">
            <span class="toggle-span">STUDENT LOGIN</span>
            <div class="toggle-switch pull-right"> 
              <input id="chk1" name="" type="checkbox" />
              <label for="chk1" class="label-status"></label>
            </div>
          </div>
        
          <div class="forgot-pwd text-white">
            <a href="<%= new_password_path(resource_name) %>">Forgot your password ?</a>
          </div>
          
          <%= f.submit 'Login', :class => "btn btn-primary btn-block" %>         
        <% end %>
      </div>
    </div>
  </div>
</div>
<%#= render "devise/shared/links" %>