/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require font-awesome
 *= require chosen
 *= require_tree .
 */

.reset-pwd .col-md-4 img.img-responsive.center-block {
    margin: 30px auto;
}

@media screen and (max-width:1024px){
.header-band {
    background: #35449D;
    padding: 15px 31px;
    height: 60px;
}
.marks .col-md-4 .chosen-container { width:100% !important;
}
.marks .col-md-4 .btn { float:right; }
.marks .container-fluid .container .marks-grid { margin-top:40px; }
.marks .container .col-md-4 {
    padding-left: 15px; 
    margin-bottom: 40px;
  }
}

.btn-primary { letter-spacing:1px; }
.reset-pwd .col-md-4 {
    background: #fff;
    padding: 28px;
    margin-top: 60px;
}
.reset-pwd .container-fluid {
    padding: 50px 15px 30px 15px;
}
.reset-pwd .col-md-4 img.img-responsive.center-block {
    margin: 20px auto;
}

.navbar-brand > img {
    display: block;
    width: 85px;
}


body { background:#404BB3;}
.header-band .dropdown span { color:#fff; }
.header-band .dropdown .btn { background:transparent; border:none;}
.header-band .dropdown .dots { width:5px; height:5px; border-radius:50%; background:#fff; display:block; margin-bottom:2px;  }
.header-band .dropdown-menu {
  padding: 5px;
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  display: block;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.ico-present {
 font-style: normal;
 font-size: 1.21em;
 color:#009900;
}

.ico-absent {
 font-style: normal;
 font-size: 1.21em;
 color:#F80000;
}

.ledger h3 {
    color: #999;
    margin-bottom: 35px;
}

.ledger i {
    color: #cdcdcd;
    font-size: 12px;
}

.ledger .col-md-6 { background:#fff; padding-bottom: 20px; }
.ledger .col-md-6 img { padding:30px 0; }

.basic-info .container-fluid .container .s-profile {
    word-break: break-word;
}
.basic-info .container-fluid .container .s-profile p { text-transform:uppercase; }

.basic-info .container-fluid .container .s-info ul li .col-md-6 p {
    text-transform: uppercase;
}

header .navbar-default .navbar-nav>.active>a, header .navbar-default .navbar-nav>.active>a:focus, header .navbar-default .navbar-nav>.active>a:hover {
 background: none;
     box-shadow: none;
}

.header-band .open>.dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity:1;
   }

.marks .container-fluid { padding:50px 15px 30px 15px;  }
.marks .container-fluid .container { background: #fff; padding: 50px 15px 30px 15px;}
.marks .form-wrap .input-wrap { padding: 0 10px 0 0;   margin-bottom: 15px;}
.marks .container-fluid .container .attendance-grid { padding: 0; margin-top: 20px;}
.marks .container-fluid .container .marks-grid { padding: 0; margin-top: 20px;}
.marks .container-fluid .container .table {  }
.marks .container-fluid .container .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #313FA0;
    font-weight: 400;
    text-transform: uppercase;
    color: #999;
}
.marks .container-fluid .container .table > tbody > tr  > td:first-child { text-transform:uppercase;}
.marks .container-fluid .container .table > tfoot > tr  > td { font-weight:bold; text-transform:uppercase;}
.marks .container .col-md-4 { padding-left:0; margin-bottom:10px;}

.pagination li a{ font-size:13px; }
