html,body{ height: 100%;}
*{
  transition:all .4s ease-in-out;
  -o-transition:all .4s ease-in-out;
  -moz-transition:all .4s ease-in-out;
  -webkit-transition:all .4s ease-in-out;
}
::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #313FA0;
}
::selection {
  color: #fff;
  background: #313FA0;
}
body { font-family: 'Roboto', sans-serif; background: #F5F5F5; }

h1,h2,h3,h4,h5,h6{  font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: 300; }

/* Home page */
.home { height: 100%;}
.home .col-md-7{ background:#3E50B4; min-height: 100%; }
.home .col-md-5 { min-height: 100%; background:#FBFBFB;}
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  margin: 0 auto;
}
.home .login .col-md-12 img { margin-bottom: 60px;}
.home .login .forgot-pwd a{ color:#939393; text-transform: uppercase;float: right; margin: 14px 0; text-decoration: none; display:inline-block; font-size: 12px;}
.home .login h1 {  font-size: 2em; text-transform: uppercase; text-align: center; color:#939393; margin-bottom: 30px;}

.basic-info .header-info h1 {  font-size: 2em;  margin: 0;color: #7986CB; float: left;}


.btn-white { background: #fff !important; color: #0499ED !important;}
.text-blue { color: #6498FE; }
.text-gray { color: rgba(0,0,0,.26); }



/* boxes */
.landing .quick-access{ background:#F9F9F9; padding: 50px 0; }
.landing .quick-access .col-sm-3 { margin-bottom: 10px;}
.landing .quick-access .col-sm-3 .col-sm-12 .ico {
  font-size: 3.2em; color: #7986CB; text-align: center;
}
.landing .quick-access .col-sm-3 .col-sm-12:hover .ico{
  -webkit-animation: toTopFromBottom 0.5s forwards;
  -moz-animation: toTopFromBottom 0.5s forwards;
animation: toTopFromBottom 0.5s forwards;}
.landing .quick-access .col-sm-3 .col-sm-12{ background:#3F51B5; padding: 25px 20px; overflow: hidden; }
.landing .quick-access .col-sm-3 p { font-size: 1.5em; color: #7986CB; text-align: center; text-transform: uppercase; padding-top: 10px;}




/* NavBar */
.header-band { background: #35449D; padding: 10px; }
.header-band ul { margin: 0; padding: 0;  display: none; }
.header-band ul li { }
.header-band ul li a {
  text-align: right;
  padding: 5px 25px;
  text-transform: uppercase;
font-size: 12px;}
header .header-info { background: #3E50B4; }
header .navbar-default { background: #fff; border-radius: 0; border:none; margin-bottom: 0; box-shadow: -6px 8px 6px -6px rgba(0,0,0,.28);}
header .navbar-default .navbar-brand {     height: auto; }
header .navbar-default li { overflow: hidden;}
header .navbar-default .navbar-nav>li>a { color: #999;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1em;
line-height: 4.8;  }
header .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #3E50B4;
}
header .navbar-default .navbar-nav>li>a .ico { display: inline-block;
padding-right: 5px; font-style: normal; }
header .navbar-default .navbar-nav>.active>a, header .navbar-default .navbar-nav>.active>a:focus, header .navbar-default .navbar-nav>.active>a:hover {
  color: #3E50B4;
  background-color: transparent;
  border-bottom: 3px solid #3E50B4;

}
header .navbar-default .navbar-nav>li:hover a .ico{
  -webkit-animation: toTopFromBottom 0.5s forwards;
  -moz-animation: toTopFromBottom 0.5s forwards;
  animation: toTopFromBottom 0.5s forwards;
}


.login .toggle-wrap {
  padding: 0 0 10px 0;
}

.toggle-switch > input[type="checkbox"] {
  display: none;
}

.toggle-switch span,
.toggle-span {
  color: #939393;
  padding-right: 10px;
  font-size: 12px;
}

.toggle-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.toggle-switch .label-status {
  background: #3F51B5;
}

.toggle-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

.toggle-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 20px;
  left: -1px;
  margin-top: -6px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 20px;
}

.toggle-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}

.toggle-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}

/* Basic Info. */
.basic-info .container-fluid { padding:50px 15px 30px 15px;  }
.basic-info .container-fluid h2 {
  font-size: 1.5em; margin: 20px 0 0;
  color: #fff;
  font-weight: 300;
  background: #3F51B5;
  padding: 10px 15px;
text-transform: uppercase;}
.basic-info .container-fluid .container .s-profile { background: #fff; padding: 0 0 15px 0px;        border-top: 5px solid #3F51B5;}
.basic-info .container-fluid .container .s-profile a { margin: 20px auto 5px auto; }
.basic-info .container-fluid .container .s-profile label { padding: 10px 0 0; margin: 0; color:#999; font-weight: 500; text-transform: uppercase;}
.basic-info .container-fluid .container .s-info ul { margin: 0; padding: 0; list-style-type: none; }
.basic-info .container-fluid .container .s-info ul li .col-md-6, .basic-info .container-fluid .container .col-md-10 ul li .col-md-12 { border: 1px solid #F5F2F2;  background: #fff; }
.basic-info .container-fluid .container .s-info li label { color:#999; font-size: 1em; text-transform: uppercase; margin: 10px 0; font-weight: 500;}
.basic-info .container-fluid .container .s-info ul li .col-md-6 p { padding-top: 5px; padding-bottom: 15px;}
.basic-info .container-fluid .container .s-info ul li .col-md-12 p { margin: 0; }
.basic-info .container-fluid .container .s-info ul li .col-md-12 p:last-child { padding-bottom: 15px;     margin: 0 0 10px;}

.attendance-grid th { font-size:12px; border-bottom:2px;}
.attendance-grid td { background:#F5F5F5; border-right:2px solid #fff; border-bottom:2px solid #fff; padding: 12px !important;}
.attendance-grid p, .attendance-grid span { margin:0;  text-align:center; color:#252525; font-size: 11px; text-transform: uppercase; }
.attendance-grid td:last-child {  border-right:none; }
.attendance-grid td p:last-child { font-weight:500;}
.attendance-grid td.absent { background:#F44437;}
.attendance-grid td.absent p { color:#fff;}

.attendance-grid ul { float:right; }
.attendance-grid ul li i {     
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; 
}
.attendance-grid ul li i.legend1  {     
    background:#F5F5F5;
}
.attendance-grid ul li i.legend2  {     
    background: #F44437;
}

.login-wrap .input-wrap.password { margin-bottom:20px; }

@keyframes toTopFromBottom{
  49%{transform:translateY(100%)}
  50%{opacity:0;transform:translateY(-100%)}
  51%{opacity:1}
}

@-webkit-keyframes toTopFromBottom{
  49%{transform:translateY(100%)}
  50%{opacity:0;transform:translateY(-100%)}
  51%{opacity:1}
}

@-moz-keyframes toTopFromBottom{
  49%{transform:translateY(100%)}
  50%{opacity:0;transform:translateY(-100%)}
  51%{opacity:1}
}

@-ms-keyframes toTopFromBottom{
  49%{transform:translateY(100%)}
  50%{opacity:0;transform:translateY(-100%)}
  51%{opacity:1}
}


.option-icon span {
  background: #fff;
  width: 5px;
  height: 5px;
  display: block;
  margin-bottom: 5px;
border-radius: 50%; }
.drop {
  float: right;
}

.options {
  position: relative;
  float: right;
}
.options p {

  display: none;
  color: #fff;
  font-size: 1.2em;
  padding: 0 10px;
}

svg circle {
  fill: #FFF;
}

.options-list {
  position: absolute;
  top: 30px;
  right: -5px;
  z-index: 1000;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease;
  opacity: 0;
  -webkit-transform-origin: right top 0px;
  -webkit-transform: scale(0);
}

.options-list ul {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  position: relative;
}

.options-list.active {
  opacity: 1;
  -webkit-transform-origin: right top 0px;
  -webkit-transform: scale(1);
}

.options-list li {
  color: #666;
  margin: 0;
  padding: 5px 0 5px 15px;
  height: 24px;
  list-style: none;
  opacity: 0;
  transform: translateY(0px);
}

.options-list li {
  -webkit-transition: all 0.3s ease;
  transform: translateY(-30%);
}

.options-list.active li {
  opacity: 1;
  transform: translateY(0px);
}


.btn-primary {
  background:#3F51B5;
  border-radius: 0;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: 300; font-size: 14px;
  letter-spacing: 2px;

}
.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: #3F51B5;
  border-color: #3F51B5;
}




.input-wrap {
  position: relative;
  margin-bottom: 35px;
}

.input-wrap .input-element {
  font-size: 14px;
  color:#CDCDCD;
  padding: 10px 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #CDCDCD;
  background: none;
}

.input-wrap .input-element:focus {
  outline: none;
}


.input-wrap label {
  color: #CDCDCD;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}


.input-wrap .input-element:focus ~ label, .input-wrap .input-element:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #3F51B5;
}


/* active state */
.input-element:focus ~ .bar:before, .input-element:focus ~ .bar:after {
  width: 100%;
}

/* active state */
.input-element:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}



/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #3E50B4;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: auto;
}

.bar:after {
  right: auto;
}


#nav.affix {
  position: fixed;
  top: 0;
  width: 100%
}

/* Attendance */
.attendance .container-fluid, .ledger .container-fluid { padding:50px 15px 30px 15px;  }
.attendance .container-fluid .container, .ledger .container-fluid .container { background: #fff; padding: 50px 15px 30px 15px; margin-bottom: 20px; }
.attendance .form-wrap .input-wrap, .ledger .form-wrap .input-wrap { padding: 0 10px 0 0;   margin-bottom: 15px;}
.attendance .container-fluid .container .attendance-grid, .ledger .container-fluid .container .ledger-grid { padding: 0; margin-top: 20px;}
.attendance .container-fluid .container .table, .ledger .container-fluid .container .table {  }
.attendance .container-fluid .container .table > thead > tr > th, .ledger .container-fluid .container .table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #313FA0;
  font-weight: 400;
  text-transform: uppercase;
  color: #999;
}

@media screen and (max-width:1024px) {
  /* home */
  .home .col-md-7 { display: none;}
}

@media screen and (max-width:768px){

  /* header */
  .container>.navbar-header { padding: 15px; }
  .navbar-toggle { margin-top: 25px; }
  .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border-color: transparent;
    background: transparent;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #3F51B5;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #3F51B5;
    background: #3F51B5;
  }
  header .navbar-default .navbar-nav>.active>a, header .navbar-default .navbar-nav>.active>a:focus, header .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
    border-bottom: none;
    display: block;
    /* width: 100%; */
  }
  header .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
  }
  header .navbar-default .navbar-nav > li > a {
    color: #fff;
  }

  /* student info */
  .basic-info .container-fluid .container .s-info { padding: 0; margin-top: 30px;  }
  .basic-info .container-fluid .container .s-profile img{ width: 100%; margin-bottom: 20px;  }
  .basic-info .container-fluid .container .s-info > .col-md-12 { padding: 0; }



  /* attendance */
  .attendance .form-wrap .input-wrap {
    margin-bottom: 35px;
  }
  .attendance .container-fluid .container .form-wrap .col-md-4 .btn-primary {     float: right;
  margin-bottom: 30px; }
  .attendance .container-fluid .container .table-responsive { border: 0; }

}

@media screen and (max-width:480px) {

}
