<div class="basic-info">
  <div class="animated fadeInDown">
    <div class="col-md-12 header-band">
      <div class="dropdown pull-right">
        <span><%= current_user.name %></span>
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="dots"></span>
          <span class="dots"></span>
          <span class="dots"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="<%= edit_user_registration_path %>">Change Password</a></li>
          <li><a href="<%= users_sign_out_path %>">Logout</a></li>
        </div>
      </ul>
    </div>
    <div class="clearfix"></div>
    <header id="nav">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <!-- <a class="navbar-brand"><%= image_tag 'logo.png', :class => 'img-responsive' %></a> -->
            <%= link_to( image_tag("logo.png", :class => 'logo'), pages_index_path, :class=>"img-responsive navbar-brand") %>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="<%= pages_index_path %>"> <i class="ico" aria-hidden="true" data-icon="&#xe107;"></i> Info. </a> </li>
              <li><a href="<%= pages_attendance_path %>"> <i class="ico" aria-hidden="true" data-icon="&#xe06b;"></i> Attendance. </a></li>
              <li><a href="<%= pages_marks_path %>"> <i class="ico" aria-hidden="true" data-icon="&#xe029;"></i> Marks. </a></li>
              <li><a href="<%= pages_ledger_path %>"> <i class="ico" aria-hidden="true" data-icon="&#x68;"></i> Ledger. </a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>
