<!DOCTYPE html><!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang=""><![endif]--><!--[if IE 8]><html class="no-js lt-ie9" lang=""><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]--><head>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /><meta name="description" content="">
<meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><title>Yenepoya Institute of Technology</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <link rel="stylesheet" type="text/css" href="/assets/fonts.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,300,100' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if current_user.present?  %>
      <%= render partial: '/layouts/header' %>
    <% end %>
    <%= yield %>
  </body>
</html>
